---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <a href="{{ post.url | absolute_url }}" class="post-banner-link">
      <article>

        {%- capture thumbnail -%}
          {% if post.thumbnail-img %}
            {{ post.thumbnail-img }}
          {% elsif post.cover-img %}
            {% if post.cover-img.first %}
              {{ post.cover-img[0].first.first }}
            {% else %}
              {{ post.cover-img }}
            {% endif %}
          {% else %}
          {% endif %}
        {% endcapture %}
        {% assign thumbnail=thumbnail | strip %}

        {% if thumbnail != "" %}
        <div class="post-image">
          <img src="{{ thumbnail | absolute_url }}" alt="{{ post.title }}" loading="lazy">
        </div>
        {% endif %}

        <div class="post-content-wrapper">
          <div>
            <h2 class="post-title">{{ post.title | strip_html }}</h2>

            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle | strip_html }}</h3>
            {% endif %}
          </div>

          <p class="post-meta">
            <i class="fas fa-calendar" style="margin-left: 0.5rem;"></i>
            {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
            {{ post.date | date: date_format }}
            {% if post.author %}
              <span style="margin: 0 0.5rem;">•</span>
              <i class="fas fa-user" style="margin-left: 0.5rem;"></i>
              <strong>{{ post.author | strip_html }}</strong>
            {% endif %}
          </p>

          {% unless site.feed_show_excerpt == false %}
          <div class="post-entry">
            {% assign excerpt_length = site.excerpt_length | default: 50 %}
            {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
          </div>
          {% endunless %}
        </div>

      </article>
    </a>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
